<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.simpleboard.mapper.CommentMapper">
  <insert id="insertComment" parameterType="com.study.simpleboard.dto.CommentCreateDTO">
    INSERT INTO comment ( user_id, post_id, comment_content, created_at )
    VALUES ( #{userId}, #{postId}, #{commentContent}, #{createdAt})
  </insert>

  <select id="selectCommentList" resultType="com.study.simpleboard.dto.CommentResponseDTO" parameterType="long">
    SELECT c.comment_id, c.user_id, c.post_id, c.parent_comment_id, c.comment_content, c.created_at
    FROM comment c
    WHERE c.post_id = #{postId} AND c.deleted_at IS NULL
    ORDER BY COALESCE(c.parent_comment_id, c.comment_id), c.created_at ASC
  </select>

  <select id="checkUser" resultType="int">
    SELECT COUNT(*)
    FROM comment
    WHERE comment_id = #{commentId}
      AND user_id = #{userId}
      AND deleted_at IS NULL
  </select>

  <select id="checkCommentId" resultType="int">
    SELECT COUNT(*)
    FROM comment
    WHERE comment_id = #{commentId}
      AND deleted_at IS NULL
  </select>

  <update id="deleteComment">
    UPDATE comment
    SET deleted_at = NOW()
    WHERE comment_id = #{commentId}
      AND deleted_at IS NULL
  </update>

</mapper>