<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.simpleboard.mapper.PostMapper">

    <!-- 전체 게시물 조회 -->
    <select id="selectAllPosts" resultType="com.study.simpleboard.dto.response.PostResponseDTO$PostList">
        SELECT
            post_id AS id,
            user_id AS userId,
            post_title AS title,
            created_at AS createdAt,
            view_count AS viewCount
        FROM post
        WHERE deleted_at IS NULL
        <if test="searchKeyword != null and searchKeyword != ''">
            AND MATCH(post_title, post_content) AGAINST(CONCAT('+', #{searchKeyword}, '*') IN BOOLEAN MODE)
        </if>
        <if test="searchUser != null and searchUser != ''">
            AND user_id = #{searchUser}
        </if>
        ORDER BY post_id DESC
        <!-- 페이지네이션 적용 (MySQL 문법) -->
        LIMIT #{pageSize}
        OFFSET #{offset}
    </select>

    <!-- 전체 게시글 수 조회 -->
    <select id="countPosts" resultType="long">
        SELECT count(*)
        FROM post
        WHERE deleted_at IS NULL
        <if test="searchKeyword != null and searchKeyword != ''">
            AND MATCH(post_title, post_content) AGAINST(CONCAT('+', #{searchKeyword}, '*') IN BOOLEAN MODE)
        </if>
        <if test="searchUser != null and searchUser != ''">
            AND user_id = #{searchUser}
        </if>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post(user_id, post_title, post_content)
        VALUES(#{post.userId}, #{post.title}, #{post.content})
    </insert>

    <select id="selectPostById" resultType="com.study.simpleboard.dto.response.PostResponseDTO$PostDetail">
        SELECT
            post_id AS id,
            user_id AS userId,
            post_title AS title,
            post_content AS content,
            created_at AS createdAt,
            updated_at AS updatedAt,
            view_count AS viewCount
        FROM post
        WHERE post_id = #{postId}
        AND deleted_at IS NULL
    </select>

    <update id="updateViewCount">
        UPDATE post
        SET view_count = view_count + 1, updated_at = updated_at
        WHERE post_id = #{post_id}
        AND deleted_at IS NULL
    </update>

    <select id="findPostAuthor" resultType="Long">
        SELECT user_id
        FROM post
        WHERE post_id = #{postId} AND deleted_at IS NULL
    </select>

    <update id="updatePostById">
        UPDATE post
        SET post_title = #{post.title}, post_content = #{post.content}
        WHERE post_id = #{postId}
    </update>

    <update id="deletePostById">
        UPDATE post
        SET updated_at = updated_at, deleted_at = NOW()
        WHERE post_id = #{postId}
    </update>

    <select id="existsById" resultType="boolean">
    SELECT EXISTS(
        SELECT 1
        FROM post
        WHERE post_id = #{postId}
        AND deleted_at IS NULL
    )
    </select>

</mapper>